<nav class="navbar navbar-default navBarAddon navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false" *ngIf="identity">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand sidenavBtn" data-toggle="dropdown" aria-expanded="false" (click)="openNav()" *ngIf="identity">
				<span class="glyphicon glyphicon-th-list"></span>
			</a>
			<a class="navbar-brand navbar-brandC" [routerLink]="['/']" (click)="closeNav()">NAICM</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" aria-expanded="true" style="">
			<ul class="nav navbar-nav" *ngIf="identity">
				<li class="dropdown dropdownBtn">
					<a class="dropdown-toggle dropdownBtn" data-toggle="dropdown" role="button"
					   aria-expanded="false">Men&uacute;<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a [routerLink]="['/busqueda']" (click)="closeNav()">B&uacute;squeda</a></li>
						<li class="divider"></li>
						<li><a [routerLink]="['/imprimir']" (click)="closeNav()">Imprimir</a></li>
						<li class="divider"></li>
						<li><a [routerLink]="['/eventuales']" (click)="closeNav()">Eventuales</a></li>
						<li class="divider"></li>
						<li><a [routerLink]="['/cargamasiva']" (click)="closeNav()">Carga Masiva</a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-left col-lg-5" role="search" onsubmit="return false;" *ngIf="identity">
				<div class="form-control-header">
					<input #inputBuscar (keyup)="keyPressBuscar($event,inputBuscar)" type="text"
						   placeholder="Buscar (Nombre, Apellido)" [(ngModel)]="nombreSearch" name="nombreSearch">
				</div>
				<button type="button" class="btn btn-primary" (click)="buscarPorNombre(inputBuscar.value)">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</form>
			<ul class="nav navbar-nav navbar-right" *ngIf="!identity">
				<li>
					<a style="display: inline-block" [routerLink]="['/login']">
						<span class="glyphicon glyphicon-log-in">&nbsp;</span>
						Login
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" *ngIf="identity">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button"
					   aria-expanded="true">{{identity.user.name}}<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a (click)="logout()">
							<span class="glyphicon glyphicon-log-out">&nbsp;</span>
							Logout</a>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<ol id="appBread" class="breadcrumb navbar-fixed-top">
	<ng-container #appBread></ng-container>

	<ng-template #breadTpl let-options>
		<li class="{{options.class}}">
			<a *ngIf="options.class === '' " [routerLink]="[options.routerLink]" (click)="closeNav()">{{options.txt}}</a>
			<span *ngIf="options.class !==''">{{options.txt}}</span>
		</li>
	</ng-template>
</ol>


<div id="mySidenav" class="sidenav">
	<a (click)="closeNav()" class="closebtn">&times;</a>
	<a [routerLink]="['/busqueda']" (click)="closeNav()">Enrolar Persona</a>
	<!--<a [routerLink]="['/imprimir']" (click)="closeNav()">Imprimir Acceso</a>-->
	<a [routerLink]="['/eventual']" (click)="closeNav()">Eventuales</a>
	<a [routerLink]="['/cargamasiva']" (click)="closeNav()">Carga Masiva</a>
</div>


