<section id="mainBusqueda">

	<form #formBusqueda class="form-horizontal" [formGroup]="busquedaGroup">


		<div class="panel panel-primary panel-primaryC panelC">
			<div class="panel-heading">
				<h3	class="panel-title"><span class=" glyphicon glyphicon-search"></span>&nbsp;&nbsp;&nbsp;Criterios de B&uacute;squeda</h3>

			</div>
			<div class="panel-body">
				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon">Nombre</span>
									<input ccCardHover type="text" class="form-control" id="enNombre" placeholder="Nombre"
										   formControlName="nombre" >
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon">Apellido Paterno</span>
									<input type="text" class="form-control" id="enApPaterno" placeholder="Apellido Paterno"
										   formControlName="apellidoPaterno">
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon">Apellido Materno</span>
									<input type="text" class="form-control" id="enApMaterno" placeholder="Apellido Materno"
										   formControlName="apellidoMaterno">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon">RFC</span>
									<input type="text" class="form-control" id="enRFC" placeholder="RFC"
										   formControlName="rfc">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon">Empresa</span>
									<!--
									<input type="text" class="form-control" id="enEmpresa" placeholder="Empresa"
										   formControlName="empresaBus">
										-->
									<input type="text" formControlName="empresaBus"
										   placeholder="Empresa"
										   class="form-control"
										   ngxTypeahead
										   [taUrl]="url"
										   [taApi]="api"
										   [taItemTpl]="itemTpl"
										   (taSelected)="handleResultSelected($event)"
									>
									<ng-template #itemTpl let-result class="list-item">
										<div>
											<i class="glyphicon glyphicon-briefcase"></i> <strong>{{result.result.nombreEmpresa.toUpperCase()}}</strong>
										</div>
									</ng-template>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="center-block" style="width: 210px">
						<button type="button" class="btn btn-primary" (click)="buscarPersona()" accesskey="b">
							<i class="glyphicon glyphicon-search"></i>&nbsp;<u>B</u>uscar
						</button>
						<button type="button" class="btn btn-primary" (click)="formBusqueda.reset();" accesskey="l">
							<i class="glyphicon glyphicon-erase"></i>&nbsp;<u>L</u>impiar
						</button>
					</div>
				</div>
			</div>
		</div>

	</form>


	<router-outlet></router-outlet>

</section>
