
.main-container{
  padding: 15px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
	margin-top: 100px;
}

#mainDiv {
  transition: margin-left .5s;
}
