
#mainEnrolamiento .jumbotron {
	padding: 50px;
	border-radius: 20px;
}

video {
	width: 100%;
	border-radius: 20px;
}

#photoCanvas {
	display: none;
}

.form-control-en {
	width: 100%;
	height: 40px;
	font-size: 15px;
	line-height: 1.42857143;
	color: black;
	background-color: transparent;
	border-bottom: 2px solid black !important;
	border-radius: 2px;
	/*  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
	transition: border-color ease-in-out .15s, box-shadow ease-in-out;
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

/*
#pictureContainer img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 20px;
	margin-bottom: 20px;
	width: 100%;
}
*/

.containerCred {
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 10px 10px;
	width: 300px;
	height: 450px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #ccc;
	background: url('../../../assets/vectorbck.jpg');
	background-size: 100% 200%;
	background-position: center;
	background-repeat: no-repeat
}

.header {
	height: 20px;
	width: 300px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.mainbody {
	top: 27px;
	width: 300px;
}

.mainbody > img {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 150px;
	display: block;
	vertical-align: middle;
	background-size: 200% auto;
	background-position: center;
	background-repeat: no-repeat;
}

.dataBody {

	top: 177px;
	height: 80px;
	width: 300px;
}

.dataBody > table {
	margin-left: auto;
	margin-right: auto;
	width: 270px;
	text-align: center;
}

.dataBody > table > tbody > tr > td {
	padding: 5px;
	padding-right: 0px;
	padding-left: 0px;
}

.containerCred > h1, h2, h3, h4, h5, hr {
	margin: 0px;
}

.trSeparador {
	height:5px;;
}

.trSeparador > td {
	padding-right: 30px !important;
	padding-left: 30px !important;
}

.trSeparador > td > hr {
	margin: 0px !important;
	border-top: 2px solid black;
}

.footer {
	bottom: 0;
	position: relative;
}


.divRadioEmprea{
	margin-left: auto;margin-right: auto;
	width: 1px;
}

