<section id="mainEnrolamiento">

	<div class="row" class="navbar-fixed-top" [ngStyle]="{
				'height' : completed ? '150px' : '0px',
				'width' : completed ? '100%' : '0px',
				transition : '1s',
				'transition-delay':  completed ? '0' : '.5',
				'margin-top' : '120px'
			}">

		<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2
				col-lg-8 col-md-8 col-sm-8 col-xs-8" [ngStyle]="{
					'transition': '1s' , 'transition-delay':  completed ? '.5' : '0'  , 'opacity' : completed ? '1' : '0'
					}">

			<div class=" panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<i class=" glyphicon glyphicon-check"></i>&nbsp;&nbsp;Datos Completos</h3>
				</div>
				<div class="panel-body">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						¿Desea finalizar Enrolamiento?
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="center-block" style="width: 100px">
							<button type="button" class="btn btn-info" (click)="finalizarEnrol()" [disabled]="!completed">
								<i class="glyphicon glyphicon-save-file"></i> Finalizar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<form #formEnrolamiento class="form-horizontal" [formGroup]="enrolFrom" [ngStyle]="{
					'transition': '1s',
					'margin-top' : completed  ? '170px' : '0px'
					}">
		<div id="accordionEnrolamiento">

			<div class="panel panel-primary panelC panel-primaryC">
				<div class="panel-heading">

					<h3 class="panel-title" data-toggle="collapse" data-parent="#accordionEnrolamiento" href="#collapseInactivo"
						(click)="changeBread(this,{'title':'Datos Personales'})">
						<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;Datos Personales <span class="caretC"></span></h3>


				</div>
				<div class="panel-body panel-collapse in" id="collapseInactivo">
					<div class="row">
						<!-- Foto y Camara -->
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="row">
								<div id='pictureContainer' class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

									<div [style.display]=" isStreaming ? 'block' : 'none' ">
										<video #hardwareVideo id="hardwareVideo" autoplay></video>
										<canvas #photoCanvas id="photoCanvas"></canvas>
									</div>

									<div [style.display]=" !isStreaming ? 'block' : 'none' ">
										<app-credencial [personEnrol]="personCred"></app-credencial>
									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-sm-6 col-md-6 col-xs-6
									col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
									<div class="form-group" *ngIf="isStreaming">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<button (click)="tomarFoto()" class="btn btn-sm btn-success">
												<span class="glyphicon glyphicon-camera"></span> Captuar Foto
											</button>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
											<button (click)="stopStream()" class="btn btn-sm btn-danger">
												<span class="glyphicon glyphicon-stop"></span> Parar Camara
											</button>
										</div>

									</div>
									<div class="form-group" *ngIf="!isStreaming">
										<br>

										<button (click)="iniciaStream()" class="btn btn-sm btn-info center-block">
											<span class="glyphicon glyphicon-camera"></span> Iniciar Camara
										</button>


									</div>
								</div>
							</div>
						</div>
						<!-- Termina Foto y Camara -->
						<!-- Datos Personales -->
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.nombre.valid }">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">Nombre</span>
										<input type="text" class="form-control" id="enNombre" placeholder="Nombre" formControlName="nombre">
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.apellidoPaterno.valid }">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">Apellido Paterno</span>
										<input type="text" class="form-control" id="enApPaterno"
											   placeholder="Apellido Paterno" formControlName="apellidoPaterno">
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.apellidoMaterno.valid }">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">Apellido Materno</span>
										<input type="text" class="form-control" id="enApMaterno"
											   placeholder="Apellido Materno" formControlName="apellidoMaterno">
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.fechaNacimiento.valid }">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">Fecha de Nacimiento</span>
										<input type="text" class="form-control" id="enFechaNacimiento"
											   placeholder="dd/mm/YYYY" formControlName="fechaNacimiento">
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.lugarNacimiento.valid }">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">Lugar de Nacimiento</span>
										<input type="text" class="form-control" id="enLugarNacimiento"
											   placeholder="Lugar de Nacimiento" formControlName="lugarNacimiento">
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.sexo.valid }">
								<div class="col-lg-8">
									<div class="input-group">
										<span class="input-group-addon">Sexo</span>
										<select class="form-control" name="enCmbSexo" id="enCmbSexo" #enCmbSexo
												(change)="cmbSexoChange(enCmbSexo.value)" formControlName="sexo">
											<option value="">-- Seleccione --</option>
											<option [selected]=" enrolFrom.controls.sexo.value == 'M' " value="M">Masculino</option>
											<option [selected]=" enrolFrom.controls.sexo.value == 'F' " value="F">Femenino</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.codigoPostal.valid }">
								<div class="col-lg-5">
									<div class="input-group">
										<span class="input-group-addon">C.P.</span>
										<input type="text" class="form-control" id="enCodigoPostal"
											   placeholder="C&oacute;digo Postal" formControlName="codigoPostal">
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.telefono.valid }">
								<div class="col-lg-12">
									<div class="input-group">
										<span class="input-group-addon">Tel&eacute;fono</span>
										<input type="text" class="form-control" id="enTelefono"
											   placeholder="Tel&eacute;fono" formControlName="telefono">
										<span class="input-group-addon">Emergencias</span>
										<input type="text" class="form-control" id="enTelefonoEmergencias"
											   placeholder="Emergencias" formControlName="telefonoEmergencia">
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.contactoEmergencia.valid }">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">Contacto Emergencias</span>
										<input type="text" class="form-control" id="enContactoEmergencias"
											   placeholder="Contacto Emergencias" formControlName="contactoEmergencia">
									</div>
								</div>
							</div>
						</div>
						<!-- Termina Datos Personales -->
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.accesoOtorgado.valid }">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">Acceso Otorgado</span>
										<input type="text" class="form-control" id="enAccesoOtorgado"
											   placeholder="Acceso Otorgado ..." formControlName="accesoOtorgado">
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.motivoAcceso.valid }">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">Motivo de Acceso</span>
										<input type="text" class="form-control" id="enMotivoAcceso"
											   placeholder="Motivo de Acceso" formControlName="motivoAcceso">
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.registroPatronal.valid }">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">Registro Patronal</span>
										<input type="text" class="form-control" id="enRegistroPatronal"
											   placeholder="Registro Patronal" formControlName="registroPatronal">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.telefono.valid || !enrolFrom.controls.telefonoEmergencia.valid}">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">NSS</span>
										<input type="text" class="form-control" id="enNSS"
											   placeholder="NSS" formControlName="nss">
										<span class="input-group-addon">RFC</span>
										<input type="text" class="form-control" id="enRFC"
											   placeholder="RFC" formControlName="rfc">
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.estadoCivil.valid }">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">Estado Civil</span>
										<input type="text" class="form-control" id="enEstadoCivil"
											   placeholder="Estado Civil" formControlName="estadoCivil">
									</div>
								</div>
							</div>
							<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.controls.tipoSangre.valid }">
								<div class="col-lg-10">
									<div class="input-group">
										<span class="input-group-addon">Tipo de Sangre</span>
										<input type="text" class="form-control" id="enTipoSangre"
											   placeholder="Tipo de Sangre" formControlName="tipoSangre">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10
							col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
							<div class="panel panel-primary panelC panel-primaryC" id="panelEmpresas">
								<div class="panel-heading">
									<h3 class="panel-title collapsed" data-toggle="collapse" data-parent="#panelEmpresas" href="#collapseEmpresas">
										<i class="glyphicon glyphicon-briefcase"></i>&nbsp;&nbsp;&nbsp;Empresas para las que labora <span class="caretC"></span></h3>
								</div>
								<div class="panel-body panel-collapse collapse" id="collapseEmpresas">

									<div class="row" *ngFor="let empresa of personEnrolar.empresa ; let iEmpresa = index;">

										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-top: 45px;">
											<div style="display:block;">
												<div class="divRadioEmprea">
													<input type="radio" name="radioEmpresa"
														   [checked]="iEmpresa === 0"
														   [value]="empresa._id"
														   (change)="onEmpresaChange(empresa)">
												</div>
											</div>
										</div>

										<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
											<blockquote>
												<div class="form-group">
													<div class="col-lg-11">
														<p>{{empresa.idEmpresa.nombreEmpresa}}</p>
														<div class="input-group">
															<span class="input-group-addon">Ocupaci&oacute;n</span>
															<input type="text" class="form-control" id="enOcupacion{{iEmpresa}}"
																   placeholder="Ocupaci&oacute;n" formControlName="ocupacionEmpresa_{{iEmpresa}}">
															<span class="input-group-addon">Fecha de Contrato</span>
															<input type="text" class="form-control" id="enEmpresaFC{{iEmpresa}}"
																   placeholder="Nombre Empresa" formControlName="fechaContratoEmpresa_{{iEmpresa}}">
														</div>
													</div>
												</div>
											</blockquote>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10
							col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
							<div class="panel panel-primary panelC panel-primaryC" id="panelImagenes">
								<div class="panel-heading">
									<h3 class="panel-title collapsed" data-toggle="collapse" data-parent="#panelImagenes" href="#collapseImagenes">
										<i class="glyphicon glyphicon-file"></i>&nbsp;&nbsp;&nbsp;Documentos proporcionados <span class="caretC"></span></h3>
								</div>
								<div class="panel-body panel-collapse collapse" id="collapseImagenes">
									<div class="col-lg-3" *ngFor="let imagen of imagenes;">
										<div class="thumbnail">
											<img src="{{imagen}}" class="producto-imagen">
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="panel panel-primary panelC panel-primaryC">
				<div class="panel-heading">
					<h3 class="panel-title collapsed" data-toggle="collapse" data-parent="#accordionEnrolamiento" href="#collapseBiometricos"
						(click)="changeBread(this,{'title':'Biométricos'})">
						<i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;Biom&eacute;tricos <span class="caretC"></span></h3>


				</div>
				<div class="panel-body panel-collapse collapse" id="collapseBiometricos">

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6
								col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3" formGroupName="biometrico">


						<div class="alert alert-info">
							Realizar la captura de datos Biom&eacute;tricos.
							<p>Se considerara una captura exitosa cuando al menos 3 de las 5 lecturas tengan el mismo valor.</p>
							<p>Presione <strong>Iniciar Captura</strong> para realizar el proceso.</p>
						</div>




						<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.get('biometrico.biometricoUno').valid,
															'has-success' : enrolFrom.get('biometrico.biometricoUno').valid }">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon">Biom&eacute;trico 1</span>
									<input type="text" class="form-control" placeholder="Caputra Biometrica 1" formControlName="biometricoUno">
								</div>
							</div>
						</div>
						<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.get('biometrico.biometricoDos').valid,
															'has-success' : enrolFrom.get('biometrico.biometricoDos').valid }">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon">Biom&eacute;trico 2</span>
									<input type="text" class="form-control" placeholder="Caputra Biometrica 2" formControlName="biometricoDos">
								</div>
							</div>
						</div>
						<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.get('biometrico.biometricoTres').valid,
															'has-success' : enrolFrom.get('biometrico.biometricoTres').valid }">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon">Biom&eacute;trico 3</span>
									<input type="text" class="form-control" placeholder="Caputra Biometrica 3" formControlName="biometricoTres">
								</div>
							</div>
						</div>
						<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.get('biometrico.biometricoCuatro').valid,
															'has-success' : enrolFrom.get('biometrico.biometricoCuatro').valid}">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon">Biom&eacute;trico 4</span>
									<input type="text" class="form-control" placeholder="Caputra Biometrica 4" formControlName="biometricoCuatro">
								</div>
							</div>
						</div>
						<div class="form-group" [ngClass]="{'has-error' : !enrolFrom.get('biometrico.biometricoCinco').valid,
															'has-success' : enrolFrom.get('biometrico.biometricoCinco').valid}">
							<div class="col-lg-12">
								<div class="input-group">
									<span class="input-group-addon">Biom&eacute;trico 5</span>
									<input type="text" class="form-control" placeholder="Caputra Biometrica 5" formControlName="biometricoCinco">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<div class="center-block" style="width: 120px;">
									<button type="button" class="btn btn-success" (click)="captureBiometrico()">
										<i class="glyphicon"></i>Iniciar Captura
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
