<div class="container">
	<div class="jumbotron">
		<div style="text-align: center">
			<h1>Sistema de Enrolamiento</h1>
			<br>
			<h2>NAICM</h2>
		</div>
		<hr>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">

			<div class="col-lg-3 col-md-3" style="margin-bottom: 10px">
				<button class="btn  btn-default"   [routerLink]="['/busqueda',buscaEnrol]" >
					<span class="glyphicon glyphicon-search"></span>
					Enrolar Persona
				</button>

			</div>
			<div class="col-lg-3 col-md-3" style="margin-bottom: 10px">
				<button class="btn  btn-info"   [routerLink]="['/busqueda',buscaManagement]" >
					<span class="glyphicon glyphicon-search"></span>
					Administrar Enrolamiento
				</button>
			</div>
			<div class="col-lg-3 col-md-3 " style="margin-bottom: 10px">
				<div class="btn-group">
					<a  [routerLink]="['/eventual']" class="btn btn-success"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;&nbsp;Eventual</a>
					<a  class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a [routerLink]="['/eventual']">Crear Acceso Eventual</a></li>
						<li><a [routerLink]="['/listadoEventuales']">Accesos Creados</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 " style="margin-bottom: 10px">
				<button class="btn  btn-primary" [routerLink]="['/cargamasiva']">
					<span class="glyphicon glyphicon-hdd"></span>
					Carga Masiva
				</button>
			</div>
		</div>

		<p>&nbsp;</p>

	</div>


</div>
